<ion-header>
  <ion-toolbar>
    <a href=""><ion-icon name="arrow-back-outline"></ion-icon></a>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>Mot de passe Oublié</ion-title>
  <div class="logo">
    <img src="../../assets/esqueceu-a-ilustracao-do-conceito-de-senha_114360-1095.jpg" alt="" width="200" height="250">
    <ion-text text-center>
      <p>Indiquez l'adresse email associé à votre Espace pour générer un nouveau mot de passe.</p>
    </ion-text>
    <div>
      <ion-item>
        <ion-input placeholder="you@email.com"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-button>Valider</ion-button>
    </div>
  </div>
 
</ion-content>
