<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo">
    <img src="../../assets/images.png" alt="" width="250" height="250">
    <ion-text>
      Welcome  
    </ion-text>
    <ion-text>
      {{userEmail}}  
    </ion-text>
    <ion-footer (click)="logout()">
      <ion-toolbar color="danger">
        <ion-title>Log out</ion-title>
      </ion-toolbar>
    </ion-footer>
  </div>
  
</ion-content>
